@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto:wght@100;300;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (min-width: 480px) {
  * body {
    width: 320px;
  }
}

.heading-img {
  width: 15%;
}

.main-heading {
  width: 45%;
  color: #050563;
  font-size: 40px;
  margin-right: 20px;
  font-family: "Roboto", sans-serif;
}

.login {
  width: 30%;
  height: 75%;
  padding: 10px;
  border: 2px solid #050563;
  border-radius: 10px;
  text-decoration: none;
  color: #050563;
  margin-left: 10px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.heading {
  color: #59cefc;
  font-size: 20px;
  padding: 20px 30px;
  font-family: "Balsamiq Sans", sans-serif;
}

.app-img {
  padding-top: 20px;
}

.sub-heading {
  width: 100%;
  color: #050563;
  font-size: 18px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}

.dad-heading {
  color: #59cefc;
  font-size: 15px;
  margin: 20px 0;
  font-family: "Roboto", sans-serif;
}

#info-para {
  margin: 30px 0;
  font-size: 12px;
}

.button {
  padding: 10px 30px;
  background-color: #050563;
  border-radius: 6px;
  text-decoration: none;
  color: #f5f5f0;
  font-size: 15px;
  font-family: "Balsamiq Sans", sans-serif;
}

.info-heading {
  color: #050563;
  font-size: 20px;
  margin-top: 30px;
}

.paras {
  margin: 20px;
  font-size: 14px;
  color: #050563;
  font-family: "Roboto", sans-serif;
}

footer {
  margin-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  background-color: #fffbd5;
}

footer a {
  display: block;
  padding: 10px;
  font-size: 16px;
  color: #050563;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

body {
  background-color: #f5f5f0;
  text-align: center;
  height: 100%;
}

.head-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
}

main {
  padding: 0 10px;
}

.p1 {
  grid-area: p1;
}

.penguin1 {
  grid-area: penguin1;
}

.p2 {
  grid-area: p2;
}

.penguin2 {
  grid-area: penguin2;
}

.p3 {
  grid-area: p3;
}

.penguin3 {
  grid-area: penguin3;
}

.p4 {
  grid-area: p4;
}

.penguin4 {
  grid-area: penguin4;
}

.info-container {
  display: grid;
  width: 100%;
  padding: 20px 0;
  text-align: start;
  grid-template-areas: "p1 penguin1" "penguin2 p2" "p3 penguin3" "penguin4 p4";
}