* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (max-width: 550px) {
  * body {
    width: 100%;
    height: 100%;
  }
}

body {
  background-color: #f3f3eb;
  text-align: center;
}

.heading-img {
  grid-area: img;
}

.main-heading {
  grid-area: penguins;
  font-size: 60px;
  color: #020281;
}

.login {
  grid-area: login;
}

.head-container {
  display: grid;
  height: 10vh;
  place-items: center/center;
  grid-template-areas: "img penguins login";
}

.p1 {
  grid-area: p1;
}

.penguin1 {
  grid-area: penguin1;
}

.p2 {
  grid-area: p2;
}

.penguin2 {
  grid-area: penguin2;
}

.p3 {
  grid-area: p3;
}

.penguin3 {
  grid-area: penguin3;
}

.p4 {
  grid-area: p4;
}

.penguin4 {
  grid-area: penguin4;
}

.info-container {
  display: grid;
  width: 100%;
  padding: 20px 0;
  text-align: start;
  font-size: 20px;
  grid-template-areas: "p1 penguin1" "penguin2 p2" "p3 penguin3" "penguin4 p4";
}

.paras {
  padding: 10px;
  color: #020281;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

footer {
  width: 100%;
  height: 20vh;
  padding: 20px 0;
  background-color: antiquewhite;
}

footer a {
  display: block;
  padding: 10px;
  font-size: 30px;
  color: #020281;
  text-decoration: none;
}