@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Cormorant+Garamond:wght@300;600&display=swap');
$primary-font-color: rgb(5, 5, 99);
$secondary-font-color: rgb(25, 117, 255);
$white-color: rgb(245, 245, 240);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @media screen and (max-width: 550px) {
    body {
      width: 100%;
      height: 100%;
    }
  }
}

body {
  background-color: $white-color;
  text-align: center;
}
.head-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 10px;
}
.heading-img {
  width: 10%;
}
.main-heading {
  width: 50%;
  color: $primary-font-color;
  font-size: 50px;
  margin-right: 20px;
  font-family: 'Cormorand Garamond', sans-serif;
}
.login {
  width: 30%;
  height: 75%;
  padding: 10px;
  border: 2px solid $primary-font-color;
  border-radius: 10px;
  text-decoration: none;
  color: $primary-font-color;
  margin-left: 10px;
}

main {
  padding: 0 20px;
}

.heading {
  color: $secondary-font-color;
  font-size: 30px;
  padding: 20px 30px;
  font-family: 'Balsamiq Sans', sans-serif;
}
.app-img {
  padding: 30px 0;
}

.p1 {
  grid-area: p1;
}
.penguin1 {
  grid-area: penguin1;
}
.p2 {
  grid-area: p2;
}
.penguin2 {
  grid-area: penguin2;
}
.p3 {
  grid-area: p3;
}
.penguin3 {
  grid-area: penguin3;
}
.p4 {
  grid-area: p4;
}
.penguin4 {
  grid-area: penguin4;
}

.info-container {
  display: grid;
  width: 100%;
  padding: 20px 0;
  text-align: start;
  font-size: 20px;
  grid-template-areas:
    'p1 penguin1'
    'penguin2 p2'
    'p3 penguin3'
    'penguin4 p4';
}

.paras {
  padding: 10px;
  color: $primary-font-color;
  font-family: 'Cormorand Garamond', sans-serif;
  font-weight: 300;
}

footer {
  width: 100%;
  height: 20vh;
  padding: 20px 0;
  background-color: antiquewhite;
}
footer a {
  display: block;
  padding: 10px;
  font-size: 30px;
  color: $primary-font-color;
  text-decoration: none;
}
